 html,
      body {
        margin: 0;
        padding: 0;
        height: 100%;
        box-sizing: border-box;
      }

      * {
        box-sizing: inherit;
      }

      fieldset {
        text-align: center;
        width: 350px;
        height: 500px;
        box-shadow: 8px 10px 10px 5px rgba(0, 0, 0, 0.423);

        /* To center */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(231, 231, 231);
      }

      div {
        margin: 4rem;
      }

      input {
        display: block;
        text-align: center;
        border: none;
        font-size: 1.1rem;
        background-color: rgb(195, 195, 195);
        width: 100%;
        padding: 20px;
      }

      input[type="submit"]{
        background-color: rgb(134, 194, 225);
        color: white;
      }

      h3{
        color: rgb(241, 172, 71);
      }